<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<div class="col-sm-6">
		<h1 class="m-0">학생&강사&관리자 리스트</h1>
	</div>

</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="row">
       	<div class="col-12">
       		<div class="card">
         			<!-- /card-header 영역 시작 -->
            	<div class="card-header">
	           		<div class="input-group mb-3">
                  		<div class="input-group-prepend">
		                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">조회</button>
		                    <div class="dropdown-menu" style="">
		                      	<a class="dropdown-item" href="#">아이디</a>
		                      	<a class="dropdown-item" href="#">이름</a>
		                    </div>
	                	</div>
	                  <!-- /btn-group -->
		            	<input type="text" class="form-control">
			            <div class="input-group-append">
							<button type="submit" class="btn btn-default">
								<i class="fas fa-search"></i>
							</button>
						</div>
	                </div>
				</div>
				<!-- /card-header 영역 끝 -->
				<!-- 보이지 않는 정보 -->
				
				<!-- /card-body 영역 시작 -->
				<div class="card-body table-responsive p-0">
				  	<table class="table table-hover text-nowrap">
				    	<thead>
				      		<tr>
						        <th>아이디</th>
						        <th>비밀번호</th>
						        <th>이름</th>
						        <th>이메일</th>
						    </tr>
				    	</thead>
				    	<tbody>
				      		<tr th:each="ul : ${userList}">
						        <td>
						        	<a href="javascript:void(0)" th:text="${ul.userId}" class="userClassInfo"></a>
						        </td>
						        <td th:text="${ul.userPw}"></td>
						        <td th:text="${ul.userName}"></td>
						        <td th:text="${ul.userEmail}"></td>
						        <td th:text="${ul.userLevel}" hidden="hidden" id="userLevel"></td>
				      		</tr>
				    	</tbody>
					</table>
				</div>
				<!-- /.card-body 영역 끝 -->
			</div>
			<!-- /.card 영역 끝-->
		</div>
	</div>
	
	<script type="text/javascript">
	
	$(function(){
	   
		$('.userClassInfo').click(function(){
	     
		var userId = $(this).text();  
		
		var userLev = $(this).parent().parent().find('#userLevel').text();
		console.log("화면에서 입력한 아이디의 권한 : ", userLev);

		// Ajax로 서버에 선택한 아이디값을 담아 요청
		var request =  $.ajax({
			url: "/userIdClick", //요청 주소
			method: "GET", //요청 방식
			data: { userId : userId }, // input name->cateCode,  value->stName
			dataType: "json" //받아올 포맷방식
		});   
		
		// ajax로 서버요청하여 data 값을 정상적으로 응답 받아오는경우
		request.done(function(data){
	        
	        console.log(data);
	        //console.log(data.memberId, data.memberName, data.memberGender, data.memberBirth);
	       
			if(userLev == '학생' && data.courseName != null && data.courseName != ''){
				 var html= '';
		        
				html += '<h3> <text class="text" style="color : #646464	; font-weight: bold;"> 수업명 : </text>' + data.courseName;
				html += '<br> <text class="text" style="color : #646464	; font-weight: bold;"> 담당강사 : </text>' + data.teacherName;
				html += '<br> <text class="text" style="color : #646464	; font-weight: bold;" > 수업시작일 : </text>' + data.classStartDate;
				html += '<br> <text class="text" style="color : #646464	; font-weight: bold;"> 수업종료일 : </text>' + data.classEndDate;
				html += '<br> <text class="text" style="color : #646464	; font-weight: bold;"> 수업요일 : </text>' + data.classProgressDay;
				html += '<br> <text class="text" style="color : #646464	; font-weight: bold;"> 수업시작시간 : </text>' + data.classStartTime;
				html += '<br> <text class="text" style="color : #646464	; font-weight: bold;"> 수업종료시간 : </text>' + data.classEndTime; + '</h3>'
		     
				Swal.fire(html); 
			}
	     
		});
		
		// ajax로 서버요청했는데 에러나, data에 값이 없는 경우
		request.fail(function( jqXHR, textStatus){
			if(userLev == '강사'){
				var html= '';
				html += '<h3> <text class="text" style="color : #646464; font-weight: bold;">강사입니다.</text></h3>'
				Swal.fire(html); 
			} else if(userLev == '관리자'){
				var html= '';
				html += '<h3> <text class="text" style="color : #646464; font-weight: bold;">관리자입니다.</text></h3>'
				Swal.fire(html); 
			} else if(userLev == '학생'){
				var html= '';
				html += '<h3> <text class="text" style="color : #646464; font-weight: bold;">등록된 수업이 없습니다.</text></h3>'
				Swal.fire(html);
			}
				
		}); 
	});
	});
	
	</script>
</th:block>
</html>
