<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<div class="col-sm-6">
	</div>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<!-- profile card start -->
	<div class="card card-solid">
		<div class="card-body pb-0">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
					<div class="card bg-light d-flex flex-fill">
						<div class="card-header text-muted border-bottom-0">
							Digital Strategist
						</div>
						<div class="card-body pt-0">
							<div class="row">
								<div class="col-7">
									<h2 class="lead"><b>스프링강사미리내</b></h2>
									<p class="text-muted text-sm"><b>About: </b> Spring Framework / UX / Spring Boot /
										Java Lover </p>
									<ul class="ml-4 mb-0 fa-ul text-muted">
										<li class="small"><span class="fa-li"><i
													class="fas fa-lg fa-building"></i></span> Address: Demo Street 123,
											Demo City 04312, NJ</li>
										<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
											Phone #: + 800 - 12 12 23 52</li>
									</ul>
								</div>
								<div class="col-5 text-center">
									<img th:src="@{/AdminLTE/dist/img/callinLogo.png}" alt="user-avatar"
										class="img-circle img-fluid">
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="text-right">
								<a href="#" class="btn btn-sm bg-teal">
									<i class="fas fa-comments"></i>
								</a>
								<a href="#" class="btn btn-sm btn-primary">
									<i class="fas fa-user"></i> View Profile
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
					<div class="card bg-light d-flex flex-fill">
						<div class="card-header text-muted border-bottom-0">
							Digital Strategist
						</div>
						<div class="card-body pt-0">
							<div class="row">
								<div class="col-7">
									<h2 class="lead"><b>HTML강사몽탄</b></h2>
									<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist /
										Coffee Lover </p>
									<ul class="ml-4 mb-0 fa-ul text-muted">
										<li class="small"><span class="fa-li"><i
													class="fas fa-lg fa-building"></i></span> Address: Demo Street 123,
											Demo City 04312, NJ</li>
										<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
											Phone #: + 800 - 12 12 23 52</li>
									</ul>
								</div>
								<div class="col-5 text-center">
									<img th:src="@{/AdminLTE/dist/img/callinLogo.png}" alt="user-avatar"
										class="img-circle img-fluid">
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="text-right">
								<a href="#" class="btn btn-sm bg-teal">
									<i class="fas fa-comments"></i>
								</a>
								<a href="#" class="btn btn-sm btn-primary">
									<i class="fas fa-user"></i> View Profile
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
					<div class="card bg-light d-flex flex-fill">
						<div class="card-header text-muted border-bottom-0">
							Digital Strategist
						</div>
						<div class="card-body pt-0">
							<div class="row">
								<div class="col-7">
									<h2 class="lead"><b>제이쿼리강사달곤</b></h2>
									<p class="text-muted text-sm"><b>About: </b> Web Designer / jQuery / Ajax /
										달고나 Lover </p>
									<ul class="ml-4 mb-0 fa-ul text-muted">
										<li class="small"><span class="fa-li"><i
													class="fas fa-lg fa-building"></i></span> Address: Demo Street 123,
											Demo City 04312, NJ</li>
										<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
											Phone #: + 800 - 12 12 23 52</li>
									</ul>
								</div>
								<div class="col-5 text-center">
									<img th:src="@{/AdminLTE/dist/img/callinLogo.png}" alt="user-avatar"
										class="img-circle img-fluid">
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="text-right">
								<a href="#" class="btn btn-sm bg-teal">
									<i class="fas fa-comments"></i>
								</a>
								<a href="#" class="btn btn-sm btn-primary">
									<i class="fas fa-user"></i> View Profile
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
					<div class="card bg-light d-flex flex-fill">
						<div class="card-header text-muted border-bottom-0">
							Digital Strategist
						</div>
						<div class="card-body pt-0">
							<div class="row">
								<div class="col-7">
									<h2 class="lead"><b>자바강사박자바</b></h2>
									<p class="text-muted text-sm"><b>About: </b> Java / Web / jsp /
										speed Lover </p>
									<ul class="ml-4 mb-0 fa-ul text-muted">
										<li class="small"><span class="fa-li"><i
													class="fas fa-lg fa-building"></i></span> Address: Demo Street 123,
											Demo City 04312, NJ</li>
										<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
											Phone #: + 800 - 12 12 23 52</li>
									</ul>
								</div>
								<div class="col-5 text-center">
									<img th:src="@{/AdminLTE/dist/img/callinLogo.png}" alt="user-avatar"
										class="img-circle img-fluid">
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="text-right">
								<a href="#" class="btn btn-sm bg-teal">
									<i class="fas fa-comments"></i>
								</a>
								<a href="#" class="btn btn-sm btn-primary">
									<i class="fas fa-user"></i> View Profile
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
					<div class="card bg-light d-flex flex-fill">
						<div class="card-header text-muted border-bottom-0">
							Digital Strategist
						</div>
						<div class="card-body pt-0">
							<div class="row">
								<div class="col-7">
									<h2 class="lead"><b>DB강사홍디비</b></h2>
									<p class="text-muted text-sm"><b>About: </b> MySQL / JDBC / DBMS /
										Oracle </p>
									<ul class="ml-4 mb-0 fa-ul text-muted">
										<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
											Phone #: + 800 - 12 12 23 52</li>
									</ul>
								</div>
								<div class="col-5 text-center">
									<img th:src="@{/AdminLTE/dist/img/callinLogo.png}" alt="user-avatar"
										class="img-circle img-fluid">
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="text-right">
								<a href="#" class="btn btn-sm bg-teal">
									<i class="fas fa-comments"></i>
								</a>
								<a href="#" class="btn btn-sm btn-primary">
									<i class="fas fa-user"></i> View Profile
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /. profile card end -->
	</div>
</th:block>

</html>