<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.callin.dao.UserMapper">


	<!-- 전체 회원 조회 쿼리문 -->
	<select id="getUserList" resultType="UserDto">
		SELECT 
			  user_id			AS userId
			, user_pw			AS userPw
			, user_name			AS userName
			, user_email		AS userEmail
		FROM 
			user_info
	</select>
	
	
	<!-- 한명 회원 조회 쿼리문 -->
	<select id="getUserRead" resultType="UserDto" parameterType="String">
		SELECT 
			  user_id			AS userId
			, user_pw			AS userPw
			, user_name			AS userName
			, user_email		AS userEmail
		FROM 
			user_info
		WHERE
			user_id = #{userId}
	</select>
</mapper>