<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/defaultLogin}">

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->
			<a th:href="@{/login}">
				<h2 class="active"> Sign In </h2>
			</a>
			<a th:href="@{/join}">
				<h2 class="inactive underlineHover">Sign Up </h2>
			</a>
			
			<!-- Icon -->
			<div class="fadeIn first img">
				<img th:src="@{/AdminLTE/dist/img/callinLogo.png}" id="icon" alt="User Icon" />
			</div>

			<!-- Login Form -->
			<form th:action="@{/login}" method="post">
				<!-- 로그인 정보 default -->
				<input type="text" 		id="login" 	  class="fadeIn second loginInput" name="loginId" th:if="${#strings.isEmpty(resultId)}" 		value="adid001">
				<input type="password" 	id="password" class="fadeIn third  loginInput" name="loginPw" th:if="${#strings.isEmpty(resultPw)}" 		value="adpw001">
				
				<!-- 로그인 실패시 입력정보 유지 -->
				<input type="text" 		id="login" 	  class="fadeIn second loginInput" name="loginId" th:if="${not #strings.isEmpty(resultId)}" 	th:value="${resultId}">
				<input type="password" 	id="password" class="fadeIn third  loginInput" name="loginPw" th:if="${not #strings.isEmpty(resultPw)}" 	th:value="${resultPw}">
				
				<!-- 로그인 버튼 -->
				<input type="submit" 	id="submitBtn" class="fadeIn fourth" value="Log In" >
			</form>
			<div id="formSecond">
				<a id="socialLogin" class="fadeIn fourth" href="#">Or Sign Up Using</a>
			</div>
			<div class="fadeIn fourth">
				<img style="width: 204px; height: 50px;" th:src="@{/AdminLTE/dist/img/cacaoLogo.png}" id="icon" alt="User Icon" />
			</div>
			
			<!-- Remind Passowrd -->
			<div id="formFooter">
				<a class="underlineHover" href="#">Forgot Password?</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function () {
			$('#submitBtn').mouseenter(function () {
				$(this).css('cursor', 'pointer');
			}).mouseout(function () {
				$(this).css('cursor', 'normal');
			})
		});

		// 엔터 쳤을 때 로그인 버튼 누르게 하는거
		$('.loginInput').keydown(function (key) {
			if (key.keyCode == 13) {
				$('#submitBtn').click();
			}
		});			
	</script>
</th:block>

</html>