<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="headerFragment" class="main-header navbar navbar-expand navbar-white navbar-light"
	style="padding-top: 13px; padding-bottom: 13px;">
	<!------------------------------------ 왼쪽 네비바 ----------------------------------------->

	<!------------------------------------ 오른쪽 네비바 ---------------------------------------->
	<ul class="navbar-nav ml-auto">
		<li>
			<a th:if="${session.SID eq null}" class="btn btn-outline-primary btn-sm" th:href="@{/login}">로그인</a>
		</li>
		<li>
			<a th:if="${session.SID ne null}" class="btn btn-outline-primary btn-sm" th:href="@{/logout}"
				style="margin-right: 10px;">로그아웃</a>
		</li>
		<li>
			<a th:if="${session.SID eq null}" class="btn btn-outline-primary btn-sm" th:href="@{/join}">회원가입</a>
		</li>
	</ul>
</nav>

</html>