<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<aside th:fragment="leftsidebarFragment" class="main-sidebar sidebar-dark-primary elevation-4"
	style="background-color: #2598c9; width: 246px;">

	<a th:href="@{/}" class="brand-link" style="border-bottom: 1px solid #FFDDDD; padding: 0px 0px;">
		<img th:src="@{/AdminLTE/dist/img/callinLogo1.png}" alt="AdminLTE Logo">
	</a>

	<div class="sidebar">

		<!-- 비회원 프로필 -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex" th:if="${session.SID eq null}">
			<div class="image">
				<!-- img 테그 안의 alt 속성은 화면에서 이미지가 깨졌을 때 보여주는 주석개념 -->
				<img th:src="@{/AdminLTE/dist/img/callinLogo.png}" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<a th:href="@{/login}" class="d-block">로그인을 해주세요.</a>
			</div>
		</div>

		<!-- 로그인후 프로필 -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex" th:if="${session.SID ne null}"
			style="border-bottom: 1px solid #FFDDDD;">
			<div class="image">
				<a th:href="@{/myInfo}" class="d-block">
					<img th:src="@{/AdminLTE/dist/img/callinLogo.png}" class="brand-image img-circle elevation-3"
						style="opacity: .8">
					<span th:text="' ' + ${session.SNAME}"></span>
				</a>
			</div>
		</div>


		<nav class="mt-2">
			<!-------------------------------- 사용자 페이지 -------------------------------------------->
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							마이페이지
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/myInfo}" class="nav-link">
								<i class="far fa-circle"></i>
								<p>개인정보 수정</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/myInfo}" class="nav-link">
								<i class="far fa-circle"></i>
								<p>비밀번호 변경</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/myInfo}" class="nav-link">
								<i class="far fa-circle"></i>
								<p>회원 탈퇴</p>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							수강 관리
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/lessonApply}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>수강신청</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/myLesson}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>나의 수강 관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/lessonDetail}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>결제내역</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item" th:if="${session.SLEVEL eq '관리자'}">
					<a th:href="@{/userList}" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>전체 회원 리스트</p>
					</a>
				</li>

				<li class="nav-item" th:if="${session.SLEVEL eq '관리자'}">
					<a th:href="@{/lesson}" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>전체 수강 리스트</p>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>
<script>
	$(document).ready(function(){
		$('.nav-item').attr()
	})
</script>
</html>